.VideoCard {
    cursor: pointer;
}
.VideoCard_video {
    position: relative;
}
.VideoCard_video iframe {
    opacity: 0;
    transition: opacity 0.3s;
}
.VideoCard_video:hover iframe {
    opacity: 1;
}

.VideoCard_video img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: cover;
    border-radius: 10px;
}
.VideoCard:hover .VideoCard_video img {
    opacity: 0;
    transition: opacity 0.3s;
}

.VideoCard_metas {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.VideoCard_title {
    font-size: 1.6rem;
    color: var(--video-title);
}
.VideoCard_channel {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 1.2rem;
    color: var(--gray-1);
}
.VideoCard_statistics {
    display: flex;
    gap: 0.8rem;
}
