@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600;800&family=Roboto:wght@400;500;700;900&family=Victor+Mono:wght@200;400;500;600;700&display=swap');
:root {
    --background-color: var(--white-1);
    --logo-color: var(--black-1);
    --search-button-background-color: #e5e7eb;
    --search-border-color: #ccc;
    --search-button-icon-color: #0f0f0f;
    --video-title: var(--black-1);
    --logo-color: #000;
    --white-1: #fff;
    --white-2: #f9f9f9;
    --white-3: #f1f1f1;
    --black-1: #000000;
    --gray-1: #aaaaaa;
    --info-background-color: var(--white-3);
    --info-color: #333;
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transition: background-color 0.3s;
}

html {
    background-color: var(--background-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 62.5%;
    color: var(--black-);
    overflow-x: hidden;
}
html.dark {
    --background-color: #0f0f0f;
    --search-border-color: hsl(0, 0%, 18.82%);
    --search-button-background-color: #222;
    --search-button-icon-color: #fff;
    --info-background-color: #2e2e2e;
    --logo-color: #fff;
    --video-title: #fff;
    --info-color: var(--gray-1);
    color: var(--white-1);
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #2e2e2e; /* 스크롤바의 색상 */

    border-radius: 5px;
}
