.Header {
    display: flex;
    justify-content: space-between;
    max-height: 5.6rem;
    padding: 1.2rem 1.6rem;
    background: transparent;
    gap: 4rem;
}

.Header_col {
    display: flex;
    align-items: center;
}

.Header_col:nth-child(2) {
    flex: 1;
}

.Header_logo {
    height: 2.4rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Header {
        gap: 2rem;
    }
    .Header_logo {
        width: 8rem;
    }
}
